# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/



# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Streamlit Cache
# =========================
.streamlit/

# =========================
# IDE Files
# =========================
.vscode/
.idea/